.datagrid-main {
}

.datagrid {
  border-collapse: collapse;
  width: 100%;
}

.datagrid td {
  line-height: 1.4em;
  padding: 4px;
}

.datagrid td a {
  text-decoration: none;
}

.datagrid th.day {

  border-bottom: 1px #999999 solid;
}


.datagrid-header {
  border-top: 1px #999999 solid;
  border-bottom: 1px #999999 solid;
  border-right: 1px #CCCCCC solid;
  cursor: pointer;
  font-weight: bold;
  padding: 4px;
  text-align: left;
  white-space: nowrap;
}

.datagrid-header-drag {
  border: 1px #999999 solid;
  border-top: 0;
}


.datagrid-header img {
  vertical-align: middle;
}

.edit-columns {
  width: 1.2em;
}


/****************************************************************************
 * Titles
 ****************************************************************************/
.datagrid-title,
.datagrid-titlebox {
  border-bottom: 1px #728eac solid;
  margin: 0;
  padding: 5px 10px 5px 5px;
}

.datagrid-titlebox h1 {
  display: inline;
  font-size: 120%;
  padding-right: 10px;
}

.datagrid-titlebox ul {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.datagrid-titlebox ul li {
  display: inline;
}


/****************************************************************************
 * Paginator
 ****************************************************************************/

.datagrid-wrapper .paginator {
  padding: 8px 4px 4px 4px;
}

.datagrid-wrapper .paginator .current-page {
  font-weight: bold;
  padding: 2px 6px;
}

.datagrid-wrapper .paginator .page-count {
  color: #444444;
  margin-left: 10px;
}

.datagrid-wrapper .paginator a {
  border: 1px solid #CCCCCC;
  color: black;
  padding: 2px 6px;
  text-decoration: none;
}

.datagrid-wrapper .paginator a:hover {
  background: #9BC0F2;
  border-color: #003366;
  color: black;
}

.datagrid-wrapper .paginator a:visited {
  color: black;
}
